.humming {
  display: flex;
  flex-direction: column;
  textarea {
    border: none;
    overflow: auto;
    outline: none; 
    background-color: transparent;
    border-bottom: 2px solid black;
    resize: none;
    margin-bottom: 10px;
    margin-top: 2px;
    font-size: 0.7em;
    font-weight: bold;
  }
}

.new-tweet-submit {
  font-family: Bungee;
  display: flex;
  justify-content: space-between;
  button {
    background-color: #4152a1;
    color: #ffffff;
    padding:4px 8px;
    border-radius: 5px;
    border: none;
    font-size: 1.2em;
    &:hover {
      background-color: #ffffff;
      color: #4152a1;
    }
  }
}

.red {
  color: red;
}

.new-tweet .error{
  border: 1px solid;
	margin: 10px auto;
	padding: 5px 10px 5px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
	max-width: 800px;
  color: #D8000C;
	background-color: #FFBABA;
  background-image: url('https://i.imgur.com/GnyDvKN.png');
  height: 80px;
  margin-top: 5px;
  text-align: center;
  display: none;
}
