.main-header {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d89c2a;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.main-header.name {
  margin-top: 0;
  margin-bottom: 71px;
  color: #fff;
}
@media only screen and (max-width: 400px) {
  .main-header .name{
    margin-top: 0px;
    font-size: 1.2em;
  }  
}

@media only screen and (min-width: 1024px) {
  .main-header {
    width: 30vw;
    /* height: 389px; */
    float: left;
    margin-top: 38px;
    margin-left: 28px;
    border-radius: 1em;
    box-shadow: 5px 5px 5px 5px grey;
  }
}